<div class="container" id="wrapper">
  <div class="row">
    <div class="col-s5"></div>
    <div class="center-align col-s1">
      <div class="icon">
        <%= image_tag "icon.svg" %>
      </div>
      <h5><b>illy site site lorem ipsum verboten calden ipes</b></h5>
    </div>
    <div class="col-s5"></div>
  </div>
</div>
