<div class="container" id="wrapper">
  <div class="row">
        <%= image_tag "manager.png" %>
        <h5><b>illy is a fun, simple site for dates and friends that love Beach House.</b></h5>
  </div>
  <div class="row mt-4">
    <div class="card">
  <div class="card-body">
    <h5 class="card-title">Login</h5>
    <form action="/sessions/new" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <div class="form-group">
        <input type="email" name="email" class="form-control" placeholder="Email">
      </div>
      <div class="form-group">
        <input type="password" name="password" class="form-control" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
  </div>
</div>
<h1>
  ~~<%= session[:user_id] %><%= current_user.email %>
</h1>
