<div class="container" id="wrapper">
  <div class="row">
        <%= image_tag "manager.png" %>
        <h5><b>Red7 is an easy and fun way to learn web development and Ruby on Rails.</b></h5>
  </div>
  <div class="row mt-5">
    <div class="card">
  <div class="card-body">
    <h5 class="card-title">Login</h5>
    <form action="/sessions/new" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <div class="form-group">
        <input type="email" name="email" class="form-control" placeholder="Email" autofocus>
      </div>
      <div class="form-group">
        <input type="password" name="password" class="form-control" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>
  </div>
</div>
<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', logout_path, method: :delete) %>
  </li>
<% end %>
<%= current_user.id %>
