<div class="container home" id="wrapper">
  <div class="row">
    <div class="col-s5"></div>
    <div class="center-align col-s1">
      <div class="icon">
        <%= image_tag "manager.png" %>
      </div>
      <h5><b>illy is a fun, simple site for dates and friends that love Beach House.</b></h5>
    </div>
    <div class="col-s5"></div>
  </div>
  <div class="row">
    <div class="col-s5"></div>
     <div class="center-align col-s1 links">
      <%= link_to "Login", sessions_new_path %> | <%= link_to "Register", "/" %>
    </div>
    <div class="col-s5"></div>
  </div>
  <div class="row">
    <ul class="collection with-header">
      <li class="collection-header">
        <h4>Login</h4>
      </li>
      <li class="collection-item">
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="row">
                <div class="input-field col s12">
                  <input id="username" type="text" class="validate">
                  <label for="email">Username</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="password" type="password" class="validate">
                  <label for="password">Password</label>
                </div>
              </div>
            </div>
          </form>
        </div>
      </li>
    </ul>
  </div>
</div>
