<div class="container">
  <div class="row">
    <div class="col-12">
          <center>
      <h3>Welcome to Red7</h3>
      <p>We need a little more information before coming in.</p>
        </center>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Information</h5>
          <form action="/sessions/new" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <div class="form-group">
              <input type="text" name="email" class="form-control" placeholder="Location" autofocus="autofocus">
            </div>
            <div class="form-group">
              <h4>Type of Account</h4>
              Premium<input type="radio" name="password" class="form-control">
              Free Tier<input type="radio" name="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Next</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-6">
      Info
    </div>
  </div>
</div>
