<div class="row footer" id="wrapper">
   <div class="links">
    <%= link_to "About", "/" %>| <%= link_to "Support", "/" %> | <%= link_to "Legal", "/" %>
  </div>
</div>
<style>
  footer .links a {
  color: black !important;
  font-size: 10px;
}

</style>
