<div class="row footer">
  <div class="col-s5"></div>
   <div class="center-align col-s1 links">
    <%= link_to "About", "/" %>| <%= link_to "Support", "/" %> | <%= link_to "Legal", "/" %>
  </div>
  <div class="col-s5"></div>
</div>
<style>
  footer .links a {
  color: black !important;
  font-size: 10px;
}

</style>
